.flex {
    display: flex;
    flex-wrap: wrap;
}
.input{
    margin-right: 3em;
    width: 27em;
}
.input > * {
    margin-bottom: 1em;
}

input {
    width: 5em;
}

.update_rule_box {
    min-height: 222px; /* avoids layout jumping around if plots not visible */
}

.errors{
    color: red;
}

th {
    text-align: left;
}
.material-icons {
    font-size: 0.9em;
}

.input_w_info > * {
    display: inline-block;
}

td, th {
    padding-right: 2em;
}

@media only screen and (max-width: 600px) {
    td, th {
        border: solid 1px gray;
    }
}

.material-icons{
  font-size: 1em;
  vertical-align: text-bottom;
}

#feedback_div {
    max-width:50em;
    margin-bottom: 2em;
}

#loading_indicator{
    position: fixed;
    z-index: 999;
    border-radius: 5px;
    background-color: lightgray;
    padding: 5px;
    top: 25px;
    left: 25px;

}