.flex {
    display: flex;
}
.input{
    margin-right: 3em;
    width: 20em;
}
.input > * {
    margin-bottom: 1em;
}

input {
    width: 5em;
}
.errors{
    color: red;
}

th {
    text-align: left;
}
.material-icons {
    font-size: 1em;
}

.input_w_info > * {
    display: inline-block;
}