{% macro info(text) %}
    <span title="{{ text }}" class="tooltip_anchor tooltip_is_hoverable material-icons">info</span>
{% endmacro %}

{% macro render_field(field, info_text=False) %}
  <div>
      {{ field.label }}
      {% if info_text %}
          {{ info(info_text) }}
      {% endif %}
      {{ field(**kwargs)|safe }}
  </div>
    {% if field.type == 'FieldList' or field.type == 'FormField' %}
        {{ errors_hierarchical_field(field) }}
    {% else %}
        {{ errors_childless_field(field) }}
    {% endif %}
{% endmacro %}

{% macro errors_hierarchical_field(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro errors_childless_field(field) %}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error|e }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro render_field_nolabel(field, inline=False) %}
  {% if inline %}
    {% set style = "display: inline" %}
  {% endif %}

  <div style="{{ style }}">
      {{ field(**kwargs)|safe }}
  </div>
  {% if field.type == 'FieldList' or field.type == 'FormField' %}
        {{ errors_hierarchical_field(field) }}
    {% else %}
        {{ errors_childless_field(field) }}
    {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
  {{ field(**kwargs)|safe }} {{ field.label }}
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro table_data(result_object, result_rule_object) %}
<td>
    {% if result_rule_object %}
    {{ result_rule_object.weight_init_normalized }}
    {% endif %}
</td>

<td>
    {% if result_object.pAGI_2036_hyper %}
    {{ result_rule_object.weight2020 }}
    {% endif %}
</td>
<td>
    {% if result_rule_object %}
    {{ result_rule_object.p2036 }}
    {% endif %}
</td>
{% endmacro %}

{% macro cdf_table(iterable) %}
<table>
    {% for item in iterable %}
    <TR>
       <TD>{{item[0]}}</TD>
       <TD>{{item[1]}}</TD>
    </TR>
    {% endfor %}
</table>
{% endmacro %}

{% set p2036string = "Probability of AGI by 2036: " %}
{% macro output_pane(result, result_trial_definition) %}
<div class="output">
{% if result %}
    {% if result_trial_definition %}
    {{ p2036string }}{{ result_trial_definition.p2036 }} {{ info(cdf_table(result_trial_definition.cdf_iterable)) }}
    {{ result_trial_definition.plot|safe }}
    {% else %}
    <div class="errors">There's been an error.</div>
    {% endif %}
{% endif %}
</div>
{% endmacro %}