{% macro render_field(field, info=False) %}
  <div>
      {{ field.label }}
      {% if info %}
      <span aria-label="{{ info }}" data-balloon-pos="right" data-balloon-length="large" class="material-icons">info</span>
      {% endif %}
      {{ field(**kwargs)|safe }}
  </div>
    {% if field.type == 'FieldList' or field.type == 'FormField' %}
        {{ errors_hierarchical_field(field) }}
    {% else %}
        {{ errors_childless_field(field) }}
    {% endif %}
{% endmacro %}

{% macro errors_hierarchical_field(field) %}
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro errors_childless_field(field) %}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error|e }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro render_field_nolabel(field, inline=False) %}
  {% if inline %}
    {% set style = "display: inline" %}
  {% endif %}

  <div style="{{ style }}">
      {{ field(**kwargs)|safe }}
  </div>
  {% if field.type == 'FieldList' or field.type == 'FormField' %}
        {{ errors_hierarchical_field(field) }}
    {% else %}
        {{ errors_childless_field(field) }}
    {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
  {{ field(**kwargs)|safe }} {{ field.label }}
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro table_data(result_object, result_rule_object) %}
<td>
    {{ result_rule_object.weight_init_normalized }}
</td>

<td>
    {% if result_object.p2036hyper %}
    {{ result_rule_object.weight2020 }}
    {% endif %}
</td>
<td>
    {% if result_rule_object %}
    {{ result_rule_object.p2036 }}
    {% endif %}
</td>
{% endmacro %}

{% macro info(text, size="large") %}
  <span aria-label="{{ text }}" data-balloon-pos="right" data-balloon-length="{{ size }}" class="material-icons">info</span>
{% endmacro %}