<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="styles.css")}}/>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="balloon.min.css")}}/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={{url_for('static', filename="index.js")}}></script>

    <title>Semi-informative priors over AI timelines</title>
</head>
<body>
<h1>Semi-informative priors over AI timelines</h1>

{% from "_macros.html" import render_field, render_field_nolabel, render_checkbox, table_data, info %}
{% set p2036string = "Probability of AGI by 2036: " %}

This web site lets you provide your own inputs for some of the calculations
in the report "Semi-informative priors over AI timelines".

<p>See inputs used in report {{ info("See section 8 of report, or equivalently section 'All things considered pr(AGI by 2036)' of blog post.") }}
    : <a href="javascript:fillLow()">Low</a>, <a href="javascript:fillCentral()">Central</a>, <a href="javascript:fillHigh()">High</a></p>


<form method="POST">
{{ render_field(form.virtual_successes, info="This input is not discussed in the blog, see section 4 of report. Used in all update rules") }}

<h2>Calendar-year trial definition</h2>
    <div class="flex update_rule_box">
    <div class="input">
        {{ render_field(form.first_trial_probability)}}
        {{ render_field(form.regime_start_year, info="Used in calendar year and researcher year update rules. The computation rules have fixed start times.") }}
    <button type='submit'>Submit all</button>
    </div>
    <div class="output">
    {% if result %}
        {% if result.calendar %}
        {{ p2036string }}{{ result.calendar.p2036 }}
        {{ result.calendar.plot|safe }}
        {% endif %}
    {% endif %}
    </div>
</div>

<h2>Researcher-year trial definition</h2>

<div class="flex update_rule_box">
    <div class="input">
        {{ render_field(form.g_exp, info='One calendar-year trial with the first trial probability defined above is equivalent to this increase in the number of AI researchers. See section 6.1 of the report.')}}
        {{ render_field(form.g_act, info="This model assumes that these growth rates will continue indefinitely. Large growth rates (e.g. 11%) are probably unrealistic out to 2100.") }}

    <button type='submit'>Submit all</button>
    </div>
    <div class="output">
    {% if result %}
        {% if result.researcher %}
        {{ p2036string }}{{ result.researcher.p2036 }}
        {{ result.researcher.plot|safe }}
        {% endif %}
    {% endif %}
    </div>
</div>

<h2>Computation trial definition: relative importance of research and computation</h2>
<div class="flex update_rule_box">
    <div class="input">
        <div>A 1% increase in the number of researchers is equivalent to a {{ render_field_nolabel(form.relative_imp_res_comp, inline=True)}}% increase in computation
        {{ info("Or equivalently: one doubling in the number of researchers is equivalent to X doublings in computation.") }}
        </div>
        {{ render_field(form.comp_spending_assumption, info="Amount spent on computation means the amount spent on biggest AI experiment to date (see 6.2.1). Used in all computation trial definitions. We assume this amount does not increase after 2036. You may enter large numbers using scientific notation e.g. '1e5'.") }}
    <button type='submit'>Submit all</button>
    </div>
    <div class="output">
    {% if result %}
        {% if result.comp_relative_res %}
        {{ p2036string }}{{ result.comp_relative_res.p2036 }}
        {{ result.comp_relative_res.plot|safe }}
        {% endif %}
    {% endif %}
    </div>
</div>

<h2>Computation trial definition: lifetime anchor</h2>
<div class="flex update_rule_box">
    <div class="input">
    <button type='submit'>Submit all</button>
    </div>
    <div class="output">
    {% if result %}
        {% if result.lifetime %}
        {{ p2036string }}{{ result.lifetime.p2036 }}
        {{ result.lifetime.plot|safe }}
        {% endif %}
    {% endif %}
    </div>
</div>

<h2>Computation trial definition: evolutionary anchor</h2>
<div class="flex update_rule_box">
    <div class="input">
    <button type='submit'>Submit all</button>
    </div>
    <div class="output">
    {% if result %}
        {% if result.evolution %}
        {{ p2036string }}{{ result.evolution.p2036 }}
        {{ result.evolution.plot|safe }}
        {% endif %}
    {% endif %}
    </div>
</div>

<h2>Hyper-prior update</h2>
<div>



<table>
    <tr>
        <th>Initial weights of update rules {{ info("These weights need not sum to 1, they can be any non-negative numbers") }}</th>
        <th>Initial weights {{ info("Normalized","small") }} </th>
        <th>Weights in 2020 </th>
        <th>Probability of AGI by 2036</th>
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_calendar) }}</td>
        {{ table_data(result, result.calendar) }}
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_researcher) }}</td>
        {{ table_data(result, result.researcher) }}
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_comp_relative_res) }}</td>
       {{ table_data(result, result.comp_relative_res) }}
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_lifetime) }}</td>
        {{ table_data(result, result.lifetime) }}
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_evolution) }}</td>
        {{ table_data(result, result.evolution) }}
    </tr>

    <tr>
        <td>{{ render_field(form.init_weight_agi_impossible) }}</td>
        {{ table_data(result, result.agi_impossible) }}
    </tr>
</table>

<div class="flex">
    <div class="input"></div>
    <div class="output" style="margin-top: 1em">
        Weighted average probability of AGI by 2036: {{ result.pAGI_2036_hyper }}
        {{ result.plot_hyper|safe }}
    </div>
</div>

</div>

<button type='submit'>Submit all</button>
</form>

<p><a href="https://github.com/tadamcz/ai-timelines-priors">Source code</a>.</p>
</body>
</html>